h2 {
  font-size: 2em; }

ul {
  font-size: 1em; }

body.wide .row {
  max-width: 90%; }
  body.wide .row .row {
    max-width: none; }

body.wide .toggle-widescreen .fa-compress {
  display: inline; }

body.wide .toggle-widescreen .fa-expand {
  display: none; }

.toggle-widescreen .fa-compress {
  display: none; }

.toggle-widescreen .fa-expand {
  display: inline; }

.no-margin {
  margin: 0 !important; }

.red {
  color: #f04124; }

.green {
  color: #43AC6A; }

.spacer {
  height: 1em; }

textarea {
  height: 200px; }

.datepicker {
  position: relative; }

ul.error-list {
  margin-left: 0;
  padding: 1em; }
  ul.error-list li {
    color: #f04124;
    list-style-position: inside; }

table.crud-table tr td.details-control {
  cursor: pointer; }
  table.crud-table tr td.details-control i.fa-plus-square {
    display: block; }
  table.crud-table tr td.details-control i.fa-minus-square {
    display: none; }

table.crud-table tr.shown td.details-control i.fa-plus-square {
  display: none; }

table.crud-table tr.shown td.details-control i.fa-minus-square {
  display: block; }

.quickview {
  border: 1px solid #ddd;
  padding: 1em;
  background-color: #f2f2f2; }
  .quickview h1 {
    font-size: 2em; }
  .quickview h2 {
    font-size: 1.7em; }

